@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* outline: 1px solid red; */
}

.form {
  @apply w-full max-w-2xl my-14 mx-auto p-10 bg-background rounded-lg shadow-lg border border-white flex items-stretch justify-center flex-col gap-4;
}

.form label {
  @apply flex items-start justify-center flex-col gap-1;
}

.form label p {
}

.form label input {
  @apply w-full px-4 h-[45px] rounded outline-none border-none text-text text-base font-normal;
}

select {
  @apply px-4 py-2 rounded-md text-text text-base font-medium;
}

select option {
  @apply text-base font-normal;
}

button:active,
button:focus {
  border: 0;
  outline: none;
}
